#Dev
/.vscode
SSS Class Pack.code-workspace
/kubejs/example_scripts
/kubejs/assets/example_textures


#Client
/crash-reports
/downloads
/journeymap
/local
/logs
/mods
/resourcepacks
/saves
/schematics
/paintings
.curseclient
/*.txt
/*.json
/*.toml
/*.properties
/config/jei/world


